.card {
    width: 300px;
    margin-top: 20px;
}

.card-img{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-bottom: 20px;
    overflow: hidden;
}
